<form method="post" action="{{ path('user_controllers_disponibilite_delete', {'id': disponibilite.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ disponibilite.id) }}">
    <button class="btn">Delete</button>
</form>
