*
    box-sizing: border-box

.div-pusher
    width: 100%
    height: 100px
    margin-bottom: 100px !important

.welcome-quiz
    display: flex
    height: 77vh
    width: 100%
    flex-direction: column
    align-items: center


.quiz-index-btns
    margin-top: 150px
    width: 30%
    display: flex
    justify-content: space-evenly
    & > a
        width: 200px 


///// QuizController@list //////


.admin-quiz-list-container
    margin-top: 50px
    display: block
    height: 100vh
    width: auto

.quiz-list-container
    display: block
    height: auto
    width: 100%

.quiz-div-container
    display: flex
    height: auto
    width: 100%
    overflow-y: auto
    flex-direction: column
    align-items: center
    // border: 5px groove rgba(28,110,164,0.34)
    // border-radius: 3px 3px 3px 3px
    margin-bottom: 10px

.quiz-div
    position: relative
    width: 100%
    margin-bottom: 20px
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    padding-bottom: 10px
    border-bottom: 1px solid #00000040

.quiz-div-subject
    text-align: center

.quiz-div-title
    text-align: center

.icon-progression-container
    position: absolute
    top: 0
    right: 0
    margin-right: 10px
    & > i
        font-size: 1.5em

.quiz-div-btn-container
    display: flex
    width: 50%
    justify-content: space-around
    & > a
        width: 200px

.quiz-div-footer
    display: flex
    height: auto
    width: 100%
    justify-content: space-around
    align-items: center

.quiz-div-footer-btn
    margin-left: 10px
    margin-right: 10px
    width: 200px


///// QuizController@new //////


.create-quiz-form-container
    margin: 100px



///// QuizController@listStudents ///////



.search-bar-container
    display: flex
    justify-content: start
    align-items: center
    height: auto
    width: 100%
    padding: 10px

.search-bar
    display: flex
    justify-content: start
    align-items: center
    padding: 5px

.search-input
    width: 100%

.search-quiz-input-button
    margin-left: 5px



///// QuizController@progression ///////







///// QuizController@footer ///////



.footer
    position: fixed