<!DOCTYPE html>

<title>Edit Comment</title>

{% block body %}
    <h1>Edit Comment</h1>

    {{ include('user_controllers_comment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_controllers_comment_index') }}">back to list</a>

    {{ include('user_controllers_comment/_delete_form.html.twig') }}
{% endblock %}
