<!DOCTYPE html>

<title>New Users</title>

{% block body %}
    <h1>Create new Users</h1>

    {{ include('user_controllers_users_controllers/_form.html.twig') }}

    <a href="{{ path('user_controllers_users_controllers_index') }}">back to list</a>
{% endblock %}
